<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sound</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body>
<div>
    <div class="center">
        Hello <strong>{{ name }}</strong>
    </div>
    <div class="rain">
      rain
      <br>
      <audio controls loop>
        <source src="/static/sounds/Rain.mp3" type="audio/mpeg">
      </audio>
    </div>
    <div class="wind">
      wind
      <br>
      <audio controls loop>
        <source src="/static/sounds/Wind.mp3" type="audio/mpeg">
      </audio>
    </div>
    <div class="waves">
      waves
      <br>
      <audio controls loop>
        <source src="/static/sounds/Waves.mp3" type="audio/mpeg">
      </audio>
    </div>
    <div class="campfire">
      campfire
      <br>
      <audio controls loop>
        <source src="/static/sounds/Campfire.mp3" type="audio/mpeg">
      </audio>
    </div>
    <div class="birdsong">
      birdsong
      <br>
      <audio controls loop>
        <source src="/static/sounds/Birdsong.mp3" type="audio/mpeg">
      </audio>
    </div>
    <div class="crickets">
      crickets
      <br>
      <audio controls loop>
        <source src="/static/sounds/Crickets.mp3" type="audio/mpeg">
      </audio>
    </div>
</div>
</body>
</html>
